@model Shoppy.SharedLibrary.Models.Responses.Orders.OrderQueryDto

<tr>
    <td class="align-middle">@Model.Id</td>
    <td class="align-middle">@Model.Date</td>
    <td class="align-middle">@Model.Status</td>
    <td class="align-middle">$@Model.TotalPrice</td>
</tr>