@model Shoppy.SharedLibrary.Models.Responses.Products.FilterProductResultDto;

<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">

            <img class="img-fluid w-100" src=@(Model.ProductThumbUrl ?? "~/img/product-1.jpg") alt="">

            <form asp-controller="Cart" asp-action="AddToCart" method="post" id="@Model.Id">
                <div class="product-action">
                    <input type="hidden" name="productId" value="@Model.Id"/>
                    <button class="btn btn-outline-dark btn-square" type="submit">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="text-center py-4">
            <a asp-controller="Books" asp-action="Detail" asp-route-id="@Model.Id" class="h6 text-decoration-none text-truncate">@Model.Name</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>$@Model.Price</h5>
                @* <h6 class="text-muted ml-2"> *@
                @*     <del>$123.00</del> *@
                @* </h6> *@
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star-half-alt text-primary mr-1"></small>
                <small class="far fa-star text-primary mr-1"></small>
                <small>(99)</small>
            </div>
        </div>
    </div>
</div>