@model Shoppy.SharedLibrary.Models.Requests.Auth.RegisterModel

@{
    Layout = "_AuthLayout";
    ViewData["title"] = "Register";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <h1 class="text-uppercase text-primary fw-bold ">Shoppy</h1>
                            </a>
                            @{
                            if (@ViewBag.ErrorMessage != null)
                            {
                            <p class="text-danger text-center">@ViewBag.ErrorMessage</p>
                            }
                            }
                            <form asp-controller="Auth" asp-action="Register" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" class="form-control"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="FullName" class="form-label"></label>
                                    <input asp-for="FullName" class="form-control"/>
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>

                                <div class="mb-4">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" class="form-control"></input>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                    <a class="text-primary fw-bold ms-2" asp-controller="Auth" asp-action="Login">Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>