@model Shoppy.SharedLibrary.Models.Error.ErrorModel;

@{
    Layout = null;
    var title = (string)ViewBag.Title ?? "404 Not found";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shoppy - @title</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/errorStyle.css"/>

</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>@Model.Status - @Model.Title</h2>
        <p>@Model.Detail</p>
        <a asp-controller="Home" asp-action="Index">Go To Homepage</a>
    </div>
</div>

</body>

</html>