@{
    var categoryId = (Guid?)ViewBag.CategoryId;
    var name = (string?)ViewBag.Name;
}

<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                <h2 class="text-uppercase text-primary fw-bold ">Shoppy</h2>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form asp-controller="Home" asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" name="name" value="@name" class="form-control" placeholder="Search">
                    <input type="hidden" name="categoryId" value="@categoryId"/>
                    <button type="submit" class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>