@{
    var fullName = Context.Request.Cookies["fullName"];
    var email = Context.Request.Cookies["email"];
    var accessToken = Context.Request.Cookies["accessToken"];
    var isAuthenticated = accessToken != null;
}

<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center h-100">
                <a class="text-body mr-3 " href="">About</a>
                <a class="text-body mr-3 " href="">Contact</a>
                <a class="text-body mr-3" href="">Help</a>
                <a class="text-body mr-3  " href="">FAQs</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                        @(fullName ?? "My Account")
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                        @{
                            if (isAuthenticated)
                            {
                                <button class="dropdown-item" type="button">
                                    <a asp-controller="Auth" asp-action="Login">My Account</a>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <a asp-controller="Auth" asp-action="Logout">Log out</a>
                                </button>
                            }
                            else
                            {
                                <button class="dropdown-item" type="button">
                                    <a asp-controller="Auth" asp-action="Login">Sign in</a>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <a asp-controller="Auth" asp-action="Register">Sign up</a>
                                </button>
                            }
                        }

                    </div>
                </div>

                @* <div class="btn-group mx-2"> *@
                @*     <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">USD</button> *@
                @*     <div class="dropdown-menu dropdown-menu-right"> *@
                @*         <button class="dropdown-item" type="button">EUR</button> *@
                @*         <button class="dropdown-item" type="button">GBP</button> *@
                @*         <button class="dropdown-item" type="button">CAD</button> *@
                @*     </div> *@
                @* </div> *@
                @* <div class="btn-group"> *@
                @*     <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">EN</button> *@
                @*     <div class="dropdown-menu dropdown-menu-right"> *@
                @*         <button class="dropdown-item" type="button">FR</button> *@
                @*         <button class="dropdown-item" type="button">AR</button> *@
                @*         <button class="dropdown-item" type="button">RU</button> *@
                @*     </div> *@
                @* </div> *@
            </div>
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                <h2 class="text-uppercase text-primary fw-bold ">Shoppy</h2>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form asp-controller="Home" asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" name="name" class="form-control" placeholder="Search">
                    <button type="submit" class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>