@{
var categoryId = (Guid?)ViewBag.CategoryId;
var name = (string?)ViewBag.Name;
}

<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                <h2 class="text-uppercase text-primary fw-bold ">Shoppy</h2>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form asp-controller="Home" asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" name="name" value="@name" class="form-control" placeholder="Search"
                           style="border-radius: 5px 0 0 5px;">
                    <input type="hidden" name="categoryId" value="@categoryId"/>
                    <button type="submit"
                            class="input-group-append btn btn-secondary d-flex justify-content-center align-items-center"
                            style="border-radius: 0 5px 5px 0; border-width: 1px 1px 1px 0; border-style: solid; border-color: #ced4da;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <hr class="m-0">
</div>